body {
  margin: 0;
  background: #f4f1ec;
  font-family: "Times New Roman", serif;

  display: flex;
  justify-content: center;   /* centers horizontally */
}

/* this is your "paper" */
.page {
  max-width: 700px;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 40px;

  background: white;
}
#donkey {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 80px;
  opacity: 0.7;
}
